<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">分組名稱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="groupname" placeholder="請輸入分組名稱" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
                            <i class="layui-icon layui-icon-search"></i>
                            查詢
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>

    <script type="text/html" id="toolbar">
		    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
		        <i class="layui-icon layui-icon-addition"></i>
		        新增客服分組
			</button>
		</script>


    <script type="text/html" id="tool-bar">
			<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>編輯</button>
			<button class="pear-btn pear-btn-danger pear-btn-xs" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>刪除</button>
		</script>

    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'laypage'], function () {

            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let laypage = layui.laypage;

            let MODULE_PATH = "/service/";

            let cols = [
                [{
                    field: 'id',
                    title: 'ID',
                    unresize: true,
                    align: 'left',
                    width: 80
                }, {
                    field: 'groupname',
                    title: '客服分組',
                    unresize: true,
                    align: 'left'
                }, {
                    field: 'group_num',
                    title: '分組人數',
                    unresize: true,
                    align: 'left',
                }, {
                    field: 'sort',
                    title: '排序',
                    unresize: true,
                    align: 'left',
                }, {
                    field: 'create_time',
                    title: '新增時間',
                    unresize: true,
                    align: 'left',
                },
                {
                    title: '操作',
                    toolbar: '#tool-bar',
                    align: 'center',
                    width: 200
                }
                ]
            ];
            function updatePaginationText() {
                $('.layui-laypage-skip').contents().filter(function () {
                    return this.nodeType === 3;
                }).each(function () {
                    this.textContent = this.textContent.replace('到第', '到第').replace('页', '頁');
                });
                $('.layui-table-page').find('.layui-laypage-count').html(function (index, oldHtml) {
                    return oldHtml.replace('共 ', '共 ').replace(' 条', ' 條');
                });
                $('.layui-table-page').find('.layui-laypage-limits').find('option').each(function () {
                    var text = $(this).text();
                    $(this).text(text.replace('条/页', '條/頁'));
                });
                $('.layui-laypage-btn').text('確定');
            }
            table.render({
                elem: '#dataTable',
                url: MODULE_PATH + 'groups/index',
                page: true,
                cols: cols,
                cellMinWidth: 100,
                skin: 'line',
                toolbar: '#toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, {
                    title: '篩選',
                    layEvent: 'LAYTABLE_COLS',
                    icon: 'layui-icon-cols'
                }, {
                    title: '列印',  // 修改 "打印" 為 "列印"
                    layEvent: 'LAYTABLE_PRINT',
                    icon: 'layui-icon-print'
                }, {
                    title: '匯出',  // 修改 "导出" 為 "匯出"
                    layEvent: 'LAYTABLE_EXPORT',
                    icon: 'layui-icon-export'
                }],
                page: {
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                    prev: '上一頁',
                    next: '下一頁',
                    first: '首頁',
                    last: '尾頁'
                },
                text: {
                    none: '無資料'
                },
                done: function (res, curr, count) {
                    updatePaginationText();
                }
            });
            table.on('pagebar(dataTable)', function (obj) {
                setTimeout(updatePaginationText, 0);
            });

            $(document).on('click', '.layui-laypage-btn', function () {
                $(this).text('確定');
            });

            table.on('toolbar(dataTable)', function (obj) {
                if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'add') {
                    window.add(obj);
                }
            });

            table.on('tool(dataTable)', function (obj) {
                if (obj.event === 'edit') {
                    window.edit(obj);
                } else if (obj.event === 'remove') {
                    window.remove(obj);
                }
            });

            form.on('submit(query)', function (data) {
                table.reload('dataTable', {
                    where: data.field,
                    page: { curr: 1 }
                });
                return false;
            });

            window.add = function (obj) {
                layer.open({
                    type: 2,
                    title: '新增客服分組',
                    shade: 0.1,
                    area: ['500px', '230px'],
                    content: MODULE_PATH + 'groups/add'
                });
            };

            window.edit = function (obj) {
                layer.open({
                    type: 2,
                    title: '編輯客服分組',
                    shade: 0.1,
                    area: ['500px', '230px'],
                    content: MODULE_PATH + 'groups/edit?id=' + obj.data.id
                });
            };

            window.remove = function (obj) {
                layer.confirm('確定要刪除該分組嗎？', {
                    icon: 3,
                    title: '提示',
                        btn: ['確定', '取消']
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "groups/remove?id=" + obj.data.id,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.code === 1) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            };

            window.refresh = function (param) {
                table.reload('dataTable');
            }
        })
    </script>
</body>

</html>