<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">使用者狀態</label>
                        <div class="layui-input-inline">
                            <select name="state">
                                <option value="">請選擇使用者狀態</option>
                                <option value="normal">正常</option>
                                <option value="in_black_list">黑名單</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">使用者分組</label>
                        <div class="layui-input-inline">
                            <select name="groupid">
                                <option value="">請選擇使用者分組</option>
                                {foreach $group as $v}
                                <option value="{$v.id}">{$v.group_name|default=''}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query">
                            <i class="layui-icon layui-icon-search"></i>
                            查詢
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>

    <script type="text/html" id="user-status">
			{{#if (d.state == 'normal') { }}
			<span>正常</span>
			{{# }else{ }}
			<span>黑名單</span>
			{{# } }}
		</script>

    <script type="text/html" id="os-enable">
			<span>{{d.extends.os}}{{d.extends.browserName}}</span>
		</script>

    <script type="text/html" id="tool-bar">
			<button class="pear-btn pear-btn-success pear-btn-xs" lay-event="lang"><i class="layui-icon layui-icon-website"></i>語言</button>
			<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>分組</button>
			{{#if (d.state == 'normal') { }}
			<button class="pear-btn pear-btn-danger pear-btn-xs" lay-event="blacklist"><i class="layui-icon layui-icon-group"></i>黑名單</button>
			{{# }else{ }}
			<button class="pear-btn pear-btn-warn pear-btn-xs" lay-event="white"><i class="layui-icon layui-icon-user"></i>取消黑名單</button>
			{{# } }}

		</script>

    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script src="__script__/platform/clipboard.min.js?v=__lkversion__"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'laypage'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let laypage = layui.laypage;
            let MODULE_PATH = "/service/";

            let cols = [
                [{
                    field: 'visiter_name',
                    title: '使用者名稱',
                    unresize: true,
                    align: 'left',
                }, {
                    field: 'group_name',
                    title: '客户分組',
                    unresize: true,
                    align: 'left',
                }, {
                    field: 'ip',
                    title: '操作IP',
                    unresize: true,
                    align: 'center',
                    templet: function (d) {
                        return d.ip.split('【')[0]; // 只顯示 IP 地址部分
                    }
                }, {
                    field: 'lang',
                    title: '語言',
                    unresize: true,
                    align: 'left',
                }, {
                    field: 'os',
                    title: '作業系統',
                    unresize: true,
                    align: 'left',
                    templet: '#os-enable'
                }, {
                    field: 'timestamp',
                    title: '最近訪問時間',
                    unresize: true,
                    align: 'left',
                },
                {
                    field: 'state',
                    title: '線上狀態',
                    unresize: true,
                    align: 'left',
                    templet: '#user-status',
                },
                {
                    title: '操作',
                    toolbar: '#tool-bar',
                    align: 'center',
                    width: 250
                }
                ]

            ];
            function updatePaginationText() {
                $('.layui-laypage-skip').contents().filter(function () {
                    return this.nodeType === 3;
                }).each(function () {
                    this.textContent = this.textContent.replace('到第', '到第').replace('页', '頁');
                });
                $('.layui-table-page').find('.layui-laypage-count').html(function (index, oldHtml) {
                    return oldHtml.replace('共 ', '共 ').replace(' 条', ' 條');
                });
                $('.layui-table-page').find('.layui-laypage-limits').find('option').each(function () {
                    var text = $(this).text();
                    $(this).text(text.replace('条/页', '條/頁'));
                });
                $('.layui-laypage-btn').text('確定');
            }
            table.render({
                elem: '#dataTable',
                url: MODULE_PATH + 'visitors/index',
                page: true,
                cols: cols,
                cellMinWidth: 100,
                skin: 'line',
                toolbar: '#toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, {
                    title: '篩選',
                    layEvent: 'LAYTABLE_COLS',
                    icon: 'layui-icon-cols'
                }, {
                    title: '列印',  // 修改 "打印" 為 "列印"
                    layEvent: 'LAYTABLE_PRINT',
                    icon: 'layui-icon-print'
                }, {
                    title: '匯出',  // 修改 "导出" 為 "匯出"
                    layEvent: 'LAYTABLE_EXPORT',
                    icon: 'layui-icon-export'
                }],
                page: {
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                    prev: '上一頁',
                    next: '下一頁',
                    first: '首頁',
                    last: '尾頁'
                },
                text: {
                    none: '無資料'
                },
                done: function (res, curr, count) {
                    updatePaginationText();
                }
            });
            table.on('pagebar(dataTable)', function (obj) {
                setTimeout(updatePaginationText, 0);
            });

            $(document).on('click', '.layui-laypage-btn', function () {
                $(this).text('確定');
            });
            table.on('toolbar(dataTable)', function (obj) {
                if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'add') {
                    window.add(obj);
                }
            });

            table.on('tool(dataTable)', function (obj) {
                if (obj.event === 'edit') {
                    window.edit(obj);
                } else if (obj.event === 'blacklist') {
                    window.blacklist(obj);
                } else if (obj.event === 'white') {
                    window.white(obj);
                } else if (obj.event === 'lang') {
                    window.lang(obj);
                }
            });

            form.on('submit(query)', function (data) {
                table.reload('dataTable', {
                    where: data.field,
                    page: { curr: 1 }
                });
                return false;
            });

            window.edit = function (obj) {
                layer.open({
                    type: 2,
                    title: '使用者分組',
                    shade: 0.1,
                    area: ['500px', '300px'],
                    content: MODULE_PATH + 'visitors/edit?id=' + obj.data.visiter_id
                });
            };

            window.lang = function (obj) {
                layer.open({
                    type: 2,
                    title: '使用者語言',
                    shade: 0.1,
                    area: ['500px', '300px'],
                    content: MODULE_PATH + 'visitors/lang?id=' + obj.data.visiter_id
                });
            };

            window.blacklist = function (obj) {
                layer.confirm('確定要黑名單该使用者', {
                    icon: 3,
                    title: '提示',
                        btn: ['確定', '取消']
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "visitors/blacklist?id=" + obj.data.visiter_id,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.code === 1) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    window.refresh();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            };

            window.white = function (obj) {
                layer.confirm('確定要取消黑名單该使用者吗', {
                    icon: 3,
                    title: '提示',
                        btn: ['確定', '取消']
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "visitors/white?id=" + obj.data.visiter_id,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.code === 1) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    window.refresh();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            };

            window.refresh = function (param) {
                table.reload('dataTable');
            }
        })
    </script>
</body>

</html>