<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>

    <script type="text/html" id="toolbar">
		    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
		        <i class="layui-icon layui-icon-delete"></i>
		        清空日誌
			</button>
		</script>

    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'laypage'], function () {
            layui.config({
                lang: 'tw'
            });

            // 如果需要自定義按鈕文字，可以添加以下代碼
            layui.layer.config({
                btn: ['確定', '取消']
            });
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let laypage = layui.laypage;

            let MODULE_PATH = "/backend/";

            let cols = [
                [{
                    field: 'id',
                    title: '序號',
                    unresize: true,
                    align: 'center',
                    width: 80
                }, {
                    field: 'user_name',
                    title: '客服帳號',
                    unresize: true,
                    align: 'center'
                }, {
                    field: 'info',
                    title: '登入结果',
                    unresize: true,
                    align: 'center',
                }, {
                    field: 'ip',
                    title: '操作IP',
                    unresize: true,
                    align: 'center',
                    templet: function (d) {
                        return d.ip.split('【')[0]; // 只顯示 IP 地址部分
                    }
                },
                {
                    field: 'user_agent',
                    title: 'User-Agent',
                    unresize: true,
                    align: 'center'
                },
                {
                    field: 'create_time',
                    title: '建立時間',
                    align: 'center',
                    unresize: true,
                }
                ]
            ]
            function updatePaginationText() {
                $('.layui-laypage-skip').contents().filter(function () {
                    return this.nodeType === 3;
                }).each(function () {
                    this.textContent = this.textContent.replace('到第', '到第').replace('页', '頁');
                });
                $('.layui-table-page').find('.layui-laypage-count').html(function (index, oldHtml) {
                    return oldHtml.replace('共 ', '共 ').replace(' 条', ' 條');
                });
                $('.layui-table-page').find('.layui-laypage-limits').find('option').each(function () {
                    var text = $(this).text();
                    $(this).text(text.replace('条/页', '條/頁'));
                });
                $('.layui-laypage-btn').text('確定');
            }
            table.render({
                elem: '#dataTable',
                url: MODULE_PATH + 'log',
                page: true,
                cols: cols,
                cellMinWidth: 100,
                skin: 'line',
                toolbar: '#toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, {
                    title: '篩選',
                    layEvent: 'LAYTABLE_COLS',
                    icon: 'layui-icon-cols'
                }, {
                    title: '列印',  // 修改 "打印" 為 "列印"
                    layEvent: 'LAYTABLE_PRINT',
                    icon: 'layui-icon-print'
                }, {
                    title: '匯出',  // 修改 "导出" 為 "匯出"
                    layEvent: 'LAYTABLE_EXPORT',
                    icon: 'layui-icon-export'
                }],
                page: {
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                    prev: '上一頁',
                    next: '下一頁',
                    first: '首頁',
                    last: '尾頁'
                },
                text: {
                    none: '無資料'
                },

                done: function (res, curr, count) {
                    updatePaginationText();
                }
            });

            table.on('toolbar(dataTable)', function (obj) {
                if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'batchRemove') {
                    window.batchRemove(obj);
                }
            });
            table.on('pagebar(dataTable)', function (obj) {
                setTimeout(updatePaginationText, 0);
            });

            $(document).on('click', '.layui-laypage-btn', function () {
                $(this).text('確定');
            });
            form.on('submit(query)', function (data) {
                table.reload('dataTable', {
                    where: data.field,
                    page: { curr: 1 }
                })
                return false;
            });

            window.batchRemove = function (obj) {
                layer.confirm('確定要刪除日誌', {
                    icon: 3,
                    title: '提示',
                        btn: ['確定', '取消']
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + 'log/removeLog',
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            layer.close(loading);
                            if (res.code == 1) {
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('dataTable');
                                });
                            } else {
                                layer.msg(res.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }

            window.refresh = function (param) {
                table.reload('dataTable');
            }
        })
    </script>
</body>

</html>